<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Verify Email</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <p class="name-purple">
        Hi, {{username}}!
    </p>
    <p class="text">
        Thank you for signing up for our service.
    </p>
    <p class="text">
        Please click the link below to verify your email address:
    </p>
    <p class="button">
        <a href="{{host}}api/auth/confirmed_email/{{token}}" target="_blank">VERIFY NOW</a>
    </p>
    <p class="footer">If you did not sign up for our service, please ignore this email.<br>
                            Thanks, The Our Team
    </p>
</body>
</html>
