<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>PhotoShare</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <div>
            <img src="/static/logo.png" alt="PhotoShare">
        </div>
        <div class="content">
            <h3>PhotoShare is a web application that allows you to share photos with other users.</h3>
            <p class="text">If you are new to PhotoShare, we are happy to see you using our service
                and proud to represent our development team:</p>
            <p>
                <img src="../static/purple.png" width="15">
                <a href="https://www.linkedin.com/in/olga-mageria/" target="_blank" class="developer-name">Olga Mageria (Team Lead)</a>
            </p>
            <p>
                <img src="../static/red.png" width="15">
                <a href="https://www.linkedin.com/in/ivan-melnyk-a456102b6/" target="_blank" class="developer-name">Ivan Melnyk (Scrum Master)</M></a>
            </p>
            <p>
                <img src="../static/orange.png" width="15">
                <a href="https://www.linkedin.com/in/viktoriia-kalachova-746228282/" target="_blank" class="developer-name">Viktoriia Kalachova</a>
            </p>
            <p>
                <img src="../static/green.png" width="15">
                <a href="https://www.linkedin.com/in/olexander-zhukov-7611152b8/" target="_blank" class="developer-name">Olexander Zhukov</a>
            </p>
        </div>
    </div>
</body>
</html>