<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>PhotoShare</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <div>
            <img src="../static/logo.png" alt="PhotoShare">
        </div>
        <div class="content">
            <h3>PhotoShare is a web application that allows you to share photos with other users.</h3>
        </div>
    </div>
</body>
</html>