<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>
<body>
    <p>Hi {{ username }},</p>
    <p>You requested a password reset for your account. Please follow the link below to set a new password:</p>
    <p><a href="{{host}}api/auth//reset_password/{{ reset_token }}">Reset Password</a></p>
    <p>Your reset token: {{ reset_token }}</p>
    <p>If you didn't request a password reset, please ignore this email.</p>
    <p>Thanks,</p>
    <p>The Our Team</p>
</body>
</html>
